:root {
  --p-color: #1abc9c;
  --txt-color: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Helvetica, sans-serif;
}

ul {
  list-style: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #4ecdc4, #556270);
  height: 100vh;
}

h1 {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 3rem;
}


.App {
  /* background: rgb(69, 173, 171);; */
  padding: 3rem;
  width: 60%;
  /* min-height: 70vh; */
  color: var(--txt-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

}

.movie {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--txt-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  transition: all 0.2s ease-in;
}

.movie:hover {
  background: #4ecdc4;
  color: #000;
  border-color: #000;
}

.movie .icon-wrapper {
  margin-left: auto;
}

.icon-wrapper svg {
  margin-left: 1rem;
}

.movie-frm-container {
  /* background: #fff; */
  border: 1px solid;
  padding: 2rem;
  border-radius: 0.3rem;
  align-self: start;
}

input {
  background: transparent;
  width: 100%;
  padding: 1rem 0;
  outline: none;
  border: none;
  font-size: 2rem;
  color: var(--txt-color);
  border-bottom: 1px solid var(--txt-color);
  margin-bottom: 1rem;
}

/* input[type="submit"] {
  width: auto;
} */

input::placeholder {
  color: var(--txt-color);
}

.moviep-frm {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background: transparent;
  align-items: flex-end;
  margin-top: auto;
  display: inline-block;
  cursor: pointer;
  width: fit-content;
  outline: none;
  font-size: 4rem;
  margin-left: auto;
  margin-top: 2rem;
  color: var(--txt-color);
  transition: all 0.2s ease-in;
}

button:hover {
  color: #000;
}

.btn-wrapper {
  margin-left: auto;
}

.btn-wrapper button {
  margin-left: 1rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal-wrapper.show {
  visibility: visible;
}

.modal {
  font-size: 3rem;
  color: #fff;
  padding: 2rem;
  border: 1px solid white;
  /* background: fff; */
  width: 50%;
  position: relative;
}

.modal h2 {
  margin-bottom: 3rem;
  font-weight: normal;
}


.modal button {
  color: white;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.movie-info {
  margin-top: 1rem;
}

.modal .label {
  font-size: 1.5rem;
}

.modal .label-val {
  font-size: 1.5rem;
}

.modal .label-val.last {
  font-weight: bold;
}

.modal p {
  font-size: 1.5rem;
}

.snackbar {
  background: var(--txt-color);
  position: fixed;
  color: #242323;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 8rem;
  margin-top: -4.5rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in;

}

.snackbar.show {
  margin-top: 1rem;
}

.snackbar.show.success {
  background: #d6f5d6;
}

.snackbar.show.danger {
  background: #fcd1d9;
}


